{% extends "admin_base.html" %}

{% block title %}後台-會員管理{% endblock %}

{% block style %}
<style>
  .edit-modal {
    position: absolute;
    width: 40%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 2px solid #000;
    opacity: 1;
    z-index: 99;
  }

  form {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .form-control input {
    width: 100%;
    padding: 8px 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 4px 6px;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  button.close {
    background-color: rgb(141, 33, 33);
  }

  button[type="submit"] {
    background-color: rgb(60, 60, 122);
  }

  h2 {
    text-align: center;
  }

  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page a {
    color: white;
    width: 3%;
    background-color: rgb(89, 89, 206);
    text-align: center;
    padding: 5px;
    border-right: 1px solid #fff;
    transition: .5s;
  }

  .page a:hover {
    background-color: rgb(35, 35, 168);
  }

  .search-bar select {
    width: 100pt;
    /* 设置选择框的宽度 */
    margin-right: 10px;
    /* 添加空隙 */

    padding: 4px 8px;
    /* 根据需要调整内边距 */
    font-size: 20px;
    /* 根据需要调整字体大小 */
    cursor: pointer;
    /* 将鼠标光标改为指针形状 */
  }

  .search-bar input[type="text"],
  .search-bar button {
    font-size: 20px;

    margin-right: 10px;
    /* 添加空隙 */
    border: 1px solid black;
    /* 添加黑色边框 */
  }

  .search-bar .searchType {
    font-size: 20px;

    margin-right: 500px;
    /* 添加空隙 */
    border: 1px solid black;
    /* 添加黑色边框 */
  }

  /* 修正最后一个按钮的外边距 */
  .search-bar button:last-child {
    margin-right: 0;
  }

  .search-bar button {
    font-size: 20px;
    padding: 5px 15px;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .search-bar button:hover {
    background-color: #0379a0;
  }

  .modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 10% 从顶部开始，并居中 */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* 根据需要调整宽度 */
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 25%;
  }

  /* 关闭按钮 */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  [v-cloak] {
    display: none !important;
  }
</style>
{% endblock %}

{% block main %}
<div id="app">
  <div class="head-title">

    <div class="left">
      <h1>会员总表</h1>
      <!-- <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul> -->
    </div>
    <div class="search-bar">
      <!-- 下拉选择框 -->
      <select v-model="searchType">
        <option value="account">会员账号</option>
      </select>

      <input type="text" v-model="searchQuery" placeholder="输入搜索内容...">
      <button @click="search">搜索</button>
      <button @click="clearSearch">清除搜索</button>
    </div>
    <div>
      <form id="dateRangeForm">
        <label for="start_date">开始日期:</label>
        <input type="date" id="start_date" name="start_date">

        <label for="end_date">结束日期:</label>
        <input type="date" id="end_date" name="end_date">

        <button type="submit">查看交易量</button>
      </form>
    </div>
    <!-- <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download' ></i>
      <span class="text">Download PDF</span>
    </a> -->
  </div>
  <div class="verify">
    <div class="table-data">
      <div class="order">
        <div class="scroll-table">
          <table>
            <thead>
              <tr>
                <th>姓名</th>
                <th>账号</th>
                <th>会员等级</th>
                <th>交易量</th>
                <th>USDT</th>
                <th>功能</th>

              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in filtered_data" :key="item._id">
                <td>[[ item.name ]]</td>
                <td @click="showHierarchy(item.account)">[[ item.account ]]</td>
                <td>[[ item.display_name ]]</td>
                <td>[[ item.daily_volume ]]</td>  <!-- 显示每位会员的交易量总和 -->
                <td>[[ item.USDT ]]</td>
                <td>
                  <a @click="this.tempMember = { ...item }, modalControl(true)" href="javascript:;">编辑</a>
                  <a class="delete" :href="`/admin_member?methods=delete&id=${[[ item._id ]]}`">删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div v-show="is_modal" class="edit-modal" v-cloak>
      <h2>会员编辑</h2>
      <form action="/admin_member" method="POST">
        <div class="form-control">
          <input type="text" name="name" v-model="tempMember.name">
        </div>
        <div class="form-control">
          <input type="text" name="account" v-model="tempMember.account" readonly>
        </div>
        <!-- <div class="form-control">
          <input type="text" name="IDcard" v-model="tempMember.IDcard" readonly>
        </div> -->
        <div class="form-control">
          <input type="number" name="coin" v-model="tempMember.coin">
        </div>
        <div class="form-control">
          <input type="number" name="real_coin" v-model="tempMember.real_coin">
        </div>
        <div class="form-control">
          <input type="number" name="bonus_rate" v-model="tempMember.bonus_rate">
        </div>
        <div class="button-group">
          <input type="hidden" name="id" v-model="tempMember._id">
          <button @click="modalControl(false), this.tempMember = {}" type="button" class="close">取消</button>
          <button type="submit">修改</button>
        </div>
      </form>
    </div>
  </div>
  <div v-if="showModal" class="modal">
    <div class="modal-content">
      <span class="close" @click="showModal = false">&times;</span>
      <p>账号: [[ hierarchyData.account ]]</p>
      <p>上级: [[ hierarchyData.ancestors.join(', ') ]]</p>
      <p>直接下级: [[ hierarchyData.direct_descendants.join(', ') ]]</p>
      <p>间接下级: [[ hierarchyData.indirect_descendants.join(', ') ]]</p>
    </div>
  </div>

</div>


<script src="https://unpkg.com/vue@next"></script>
<script>
  document.getElementById('dateRangeForm').addEventListener('submit', function (e) {
    e.preventDefault();
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;

    // 可以使用 AJAX 发送请求或重新加载整个页面
    window.location.href = `/admin_member?start_date=${startDate}&end_date=${endDate}`;
  });
</script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        member_data: '',
        filtered_data: '',  // 用于显示的数据数组
        is_modal: false,
        tempMember: {},
        searchQuery: '',  // 绑定到搜索框的数据
        showModal: false,  // 控制模态框显示的变量
        hierarchyData: { account: '', invitedCode: '', subordinates: [] },  // 存储层级数据
      }
    },
    compilerOptions: {
      delimiters: ["[[", "]]"]
    },
    methods: {
      showHierarchy(account) {
        // 向后端发送请求，获取账号的上级、直接下级和间接下级信息
        fetch(`/api/get_hierarchy?account=${account}`)
          .then(response => response.json())
          .then(data => {
            this.hierarchyData = {
              account: account,
              ancestors: data.ancestors,
              direct_descendants: data.direct_descendants,
              indirect_descendants: data.indirect_descendants,
            };
            this.showModal = true;
          })
      },
      modalControl(type) {
        type ? this.is_modal = true : this.is_modal = false
      },
      search() {
        // 过滤会员数据以匹配搜索查询
        if (this.searchType === 'account') {
          this.filtered_data = this.member_data.filter(member =>
            member.account.toLowerCase().includes(this.searchQuery.toLowerCase()));
        } else if (this.searchType === 'inviter') {
          this.filtered_data = this.member_data.filter(member =>
            member.invitedCode.toLowerCase().includes(this.searchQuery.toLowerCase()));
        }
      },
      clearSearch() {
        // 清除搜索并显示所有会员
        this.searchQuery = '';
        this.filtered_data = this.member_data;
      }
    },
    created() {
      let tempMember = '{{ member_data }}'
      this.member_data = JSON.parse(tempMember.replace(/&#39;/g, '"'))
      this.filtered_data = this.member_data;  // 初始化显示数据为全部数据
    }
  })
  app.mount('#app')
</script>

{% endblock %}